
@{
    ViewBag.Title = "ChangePassword";
}
@section logged{
    @if (Session == null || Session["userType"] == null || Session["userType"].ToString() != "staff")
    {
        Response.Redirect(Url.Action("Login", "Staff"));
    }
}

<script>
    function verifyNewPasswordsMatch() {
        if ($("#txtNewPassword1").val() !== $("#txtNewPassword2").val()) {
            $("#spnNoMatchError").text("New passwords entered do not match each other.");
            return false;
        }
        return true;
    }
</script>

<h2>ChangePassword</h2>

<h3>@ViewBag.Message</h3>

@using (Html.BeginForm("ChangePassword", "Staff", FormMethod.Post, new { id = "frmChangePassword", onsubmit = "return verifyNewPasswordsMatch()" }))
{
    <div id="divChangeStaffPassForm">
        <p>
            @Html.Label("lblCurrPassword", "Current Password")
            <br />
            @Html.Password("txtCurrPassword")
        </p>
        <span id="spnNoMatchError" style="color: red"></span>
        <p>
            @Html.Label("lblNewPassword1", "New Password")
            <br />
            @Html.Password("txtNewPassword1")
        </p>
        <p>
            @Html.Label("lblNewPassword2", "Repeat New Password")
            <br />
            @Html.Password("txtNewPassword2")
        </p>
        <input type="submit" value="Change Password" />
    </div>
}
